.vs/*
/ProbablyRed.Service.Core/bin/*
/ProbablyRed.Service.Core/obj
/ProbablyRed.Service.Core.Tests/obj
/ProbablyRed.Service.Core.Tests/bin/*
/ProbablyRed.Common/bin/*
/ProbablyRed.Common/obj
/ProbablyRed.Service.Core.Tests/TestResults/*
/probablyred.client/probablyred.client.esproj.user
/ProbablyRed.Common.Tests/obj
/ProbablyRed.Common.Tests/bin/*
